<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.SubjectMapper">
    <resultMap id="BaseResultMap" type="com.demo.pojo.Subject">
        <id column="sid" property="id" jdbcType="INTEGER"/>
        <result column="subject_name" property="subjectName" jdbcType="VARCHAR"/>
        <collection property="courseList" ofType="com.demo.pojo.Course">
            <id column="cid" property="id" jdbcType="INTEGER"/>
            <result column="course_title" property="courseTitle" jdbcType="VARCHAR"/>
            <result column="course_desc" property="courseDesc" jdbcType="VARCHAR"/>
            <collection property="videoList" ofType="com.demo.pojo.Video">
                <id column="id" property="id" jdbcType="INTEGER"/>
                <result column="title" property="title" jdbcType="VARCHAR"/>
                <result column="detail" property="detail" jdbcType="LONGVARCHAR"/>
                <result column="time" property="time" jdbcType="INTEGER"/>
                <result column="play_num" property="playNum" jdbcType="INTEGER"/>
                <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
                <result column="video_url" property="videoUrl" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id as sid,
        subject_name
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.pojo.SubjectExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from subject
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from subject
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from subject
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.demo.pojo.SubjectExample">
        delete
        from subject
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.demo.pojo.Subject">
        insert into subject (id, subject_name)
        values (#{id,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.demo.pojo.Subject">
        insert into subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectName != null">
                subject_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="subjectName != null">
                #{subjectName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.demo.pojo.SubjectExample" resultType="java.lang.Integer">
        select count(*)
        from subject
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update subject
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.subjectName != null">
                subject_name = #{record.subjectName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update subject
        set id           = #{record.id,jdbcType=INTEGER},
            subject_name = #{record.subjectName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.Subject">
        update subject
        <set>
            <if test="subjectName != null">
                subject_name = #{subjectName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Subject">
        update subject
        set subject_name = #{subjectName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findSubjectById" resultMap="BaseResultMap">
        SELECT s.id AS sid,
               subject_name,
               course_title,
               course_desc,
               c.id AS cid,
               v.`course_id`,
               v.id,
               v.title,
               v.detail,
               v.time,
               v.play_num,
               v.image_url,
               v.video_url
        FROM `subject` AS s
                     INNER JOIN `course` AS c
                ON s.id = c.subject_id
                     INNER JOIN `video` AS v
                ON c.id = v.course_id
        WHERE s.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findSubjectNameByVideoId" resultMap="BaseResultMap">
       SELECT s.id AS sid,
               subject_name
        FROM `subject` AS s
                     INNER JOIN `course` AS c
                ON s.id = c.subject_id
                     INNER JOIN `video` AS v
                ON c.id = v.course_id
        WHERE v.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>